{{block "productPage" .}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
        <title>Product Admin Page</title>
        <script src="https://cdn.tailwindcss.com"></script></script>
    </head>
    <body class="bg-white-100"> 
        {{ template "header" .}}
        <main>
        <div class="container mx-auto mt-10 p-6 rounded-lg shadow-md flex flex-col gap-4">
            {{template "productForm" .FormData}}
            <p hidden id="indicator" class="htmx-indicator flex flex-row justify-center text-sm text-gray-500 mt-2">Adding Product...</p>
            <p hidden id="update-indicator" class="htmx-indicator flex flex-row justify-center text-sm text-gray-500 mt-2">Updating Product...</p>
            {{template "product_container" .Data}}
        </div>

        </main>
        <script>
            // ... (your existing JavaScript code)
        </script>
    </body>
</html>
{{end}}

{{block "productForm" .}}
<form class="text-center p-4 flex justify-center" hx-swap="outerHTML" hx-indicator="#indicator" hx-post="/products/add">
    <div class="flex flex-col">
        <div class="flex flex-row gap-x-4">
            <input class="rounded-lg py-2" {{if .Values.name }} value="{{.Values.name }}" {{end}} type="text" id="name" name="name" placeholder="Type name..." />
            <input class="rounded-lg py-2" {{if .Values.description }} value="{{.Values.description }}" {{end}} type="text" id="description" name="description" placeholder="Type product description..." />
            <input class="rounded-lg py-2" {{if .Values.price }} value="{{.Values.price }}" {{end}} type="text" id="price" name="price" placeholder="Type product price..." />
            <input class="rounded-lg py-2" {{if .Values.allergen }} value="{{.Values.allergen }}" {{end}} type="text" id="allergens" name="allergens" placeholder="Type product allergen..." />
            <input class="rounded-lg py-2" {{if .Values.gender }} value="{{.Values.gender }}" {{end}} type="text" id="gender" name="gender" placeholder="Type product gender..." />

            <button type="submit" class="py-1 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
                Submit 
            </button>
        </div>
        {{ if .Errors.name }}
        <div class="text-red p-2">{{.Errors.name}}</div>
        {{end}}
        {{ if .Errors.description}}
        <div class="text-red p-2">{{.Errors.description}}</div>
        {{end}}
        {{ if .Errors.price }}
        <div class="text-red p-2">{{.Errors.price}}</div>
        {{end}}
        {{ if .Errors.description}}
        <div class="text-red p-2">{{.Errors.allergen}}</div>
        {{end}}
        {{ if .Errors.description}}
        <div class="text-red p-2">{{.Errors.gender}}</div>
        {{end}}
    </div>
</form>
{{end}}

{{block "product_container" .}}
<div class="mx-auto">
    <div class="overflow-x-auto">
        <table class="w-full table-auto bg-white shadow-md rounded-md divide-y divide-gray-200">
            {{if ne (len .Products) 0}}
            <thead class="bg-gray-200 text-white">
                <tr>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-700">Name</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-700">Description</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-700">Price</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-700">Allergens</th>
                    <th class="px-6 py-3 text-left text-xs font-medium uppercase tracking-wider text-gray-700">Gender</th>
                    <th class="px-6 py-3"></th> 
                </tr>
            </thead>
            {{end}}
            <tbody class="prod-table-body">
                {{range .Products}}
                <tr id="product-row-{{.ID}}" class="border-b border-gray-200 py-2">
                    <td class="px-6 py-4 text-left text-lg">{{.Name}}</td>
                    <td class="px-6 py-4 text-left text-lg">{{.Description}}</td>
                    <td class="px-6 py-4 text-left text-lg">{{.Price}}</td>
                    <td class="px-6 py-4 text-left text-lg">{{.Allergens}}</td>
                    <td class="px-6 py-4 text-left text-lg">{{.Gender}}</td>
                    <td class="px-6 py-4">
                        <button class="edit-product-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" 
                            hx-get="/products/edit?id={{.ID}}" 
                            hx-target="#product-row-{{.ID}}" 
                            hx-swap="outerHTML">
                            Edit
                        </button>
                    </td> 
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</div>
{{end}}


{{ define "editableProductRow" }}
<tr class="border-b border-gray-200 py-2">
  <form hx-indicator="#update-indicator" hx-put="/products/edit" hx-target="this">
    <input hidden type="text" name="id" value="{{.ID}}">
    <td class="px-6 py-4 text-left text-lg">
      <input type="text" name="name" value="{{.Name}}" class="w-64 rounded-md px-2 py-1 border focus:outline-none focus:ring focus:ring-blue-500">
    </td>
    <td class="px-6 py-4 text-left text-lg">
      <input type="text" name="description" value="{{.Description}}" class="w-64 rounded-md px-2 py-1 border focus:outline-none focus:ring focus:ring-blue-500">
    </td>
    <td class="px-6 py-4 text-left text-lg">
      <input type="text" name="price" value="{{.Price}}" class="w-64 rounded-md px-2 py-1 border focus:outline-none focus:ring focus:ring-blue-500">
    </td>
    <td class="px-6 py-4 text-left text-lg">
      <input type="text" name="allergens" value="{{.Allergens}}" class="w-64 rounded-md px-2 py-1 border focus:outline-none focus:ring focus:ring-blue-500">
    </td>
    <td class="px-6 py-4 text-left text-lg">
      <input type="text" name="gender" value="{{.Gender}}" class="w-64 rounded-md px-2 py-1 border focus:outline-none focus:ring focus:ring-blue-500">
    </td>
    <td class="px-6 py-4 text-left text-lg">
      <button type="submit" id="editBtn" class="py-1 px-4 inline-flex items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none">
        Update
      </button>
    </td>
  </form>
</tr>
{{end}}
